################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Battle-Shit/FileContentIndex
/.vs/Battle-Shit/v17
/.vs/Battle-Shit/CopilotIndices/17.14.1231.31060
/.vs
